body {
    font-family: Arial, sans-serif;
    background: #111;
    color:white;
    padding: 20px;
}
h1 {
  color: #00bcd4;
}

h2 {
  border-bottom: 1px solid #444;
  padding-bottom: 5px;
}